.dc_publisher_documentation {
  margin-bottom: 20px;
  border-bottom: solid 1px #e0e0d8;
  padding-bottom: 10px;

  .title {
    font-weight: bold;
  }
}


.dc_publisher_tabs {
  border: none;

  .list {
    padding: 0px;
  }

  #url,
  #code {
    border: #ccc solid 1px;
    border-top: none;
  }

  .ui-state-active a {
    font-weight: bold !important;
  }

  .ui-state-default {
    .url,
    .code {
      background: #e9e9e9 !important;
    }
  }

  .ui-state-active {
    .code,
    .url {
      background: #fafafa !important;
    }
  }

  .url,
  .code {
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    color: black !important;
    border: solid 1px #ccc;
    border-bottom: none;
  }
}
